#header{
    background-color: dimgrey;
    width: 800px;
}

#container{
    overflow: hidden;
}

#navigation{
    background-color: black ;
    width: 180px;
    float: left;
    margin-bottom: -32767px;
    padding-bottom: 32767px;
    color: white;
}

#content{
    background-color: #c4c4c4;
    width: 800px;
    margin-bottom: -32767px;
    padding-bottom: 32767px;
}

#footer{
    background-color: dimgrey;
    width: 800px;
}